//////////////////////////////////////////////////
////////////////////// RESET /////////////////////
//////////////////////////////////////////////////

* {margin:0; padding:0; box-sizing:border-box; outline:none;}
html {font-size:62.5%;font-family:'Open Sans', Verdana, sans-serif;}
body {background-color:$brokenWhite;}
a {color:inherit; text-decoration:none;}
li {list-style:none;}
img {max-width:100%; width:100%;}
input {border:none; background:transparent;}

// Custom cursor select
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
::placeholder {color:$lightGray;}
::selection {background:$darkGreen; color:$white;}


// Custom scrollbar
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
::-webkit-scrollbar {width:1rem;}
::-webkit-scrollbar-track {background:#eee; box-shadow:inset $boxShadowLight;}
::-webkit-scrollbar-thumb {
	background:$mediumGreen;
	&:hover {background:$darkGreen;}
	&:active {background:$weirdGreen;}
}

.leaflet-popup-content {
	img {
		border-radius:50%;
	}
	div > p {
		color:$darkGreen;
		margin:5px 0;
		text-align:center;
	}
	.requis {
		padding-right:2.25rem;
		background:url(img/leaf.png) no-repeat right center;
	}
}

// Custom elements
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.error {background:#f8d7da; color:#721c24; padding:.75rem 1.25rem; border-radius:.25rem; font-size:1.6em; margin-bottom:1em;}

input[type="text"], input[type="email"], input[type="password"] {
	color:$gray;
	border:none;
	height:3.5rem;
	transition:0.3s ease;
	padding:1rem;
	border:1px solid transparent;
	box-shadow:0 0 5px 0 rgba(0,0,0,0.1);
	&:focus {
		box-shadow:0 0 10px 2px rgba(0,0,0,0.1);
	}

	&.input_picto {
		background-color:transparent;
		background-repeat:no-repeat;
		background-position:right bottom 0.5rem;
		&.send {background-image:url(img/like.png);}
		&.lock {background-image:url(img/like.png);}
	}
}

button {
	font-size:1.4rem;
	cursor:pointer;
	border:none;
	box-shadow:$boxShadowDark;
}

.btn {
	box-shadow:$boxShadowDark;
	color:$white;
	margin:auto;
	cursor:pointer;
	position:relative;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center center;
	padding:1rem 3rem;
	font-size:1.4em;
	overflow: hidden;

	&.btn_picto {text-indent:-9999rem; width:4rem; height:4rem; margin-right:1rem; padding:0;}
	&.look {background-image:url(img/picto_friend_look.png);}
	&.add {background-image:url(img/picto_friend_add.png);}
	&.check {background-image:url(img/picto_check.png);}
	&.delete {
		background-image:url(img/picto_friend_delete.png);
		&::before {background:$danger;}
		&:hover::before {background:$dangerHover;}
	}
	&.saveButton {display:block; width:25rem; text-align:center; &::before,&::after{z-index:unset;} span{position:relative; z-index:1;}}

	&::before, &::after {
		content:'';
		position: absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		width:120%;
		height:120%;
		transition:0.5s ease;
		z-index:-1;
	}

	&:not(.delete)::before {background:linear-gradient(to bottom right, $lightGreen, $mediumGreen);}
	&:not(.delete)::after {background:linear-gradient(to top left, $lightGreen, $mediumGreen); opacity:0;}
	&:hover::after, &:focus::after {opacity:1;}
}

main + a {
	display:none;
}

.thumbnail {
	position:fixed;
	overflow:hidden;
	z-index:20;
	left:40%;
	top:50%;
	transform:translate(-50%, -50%);
	background:$white;
	box-shadow:$boxShadowLight;
	transition:.5s ease;

	&.active {
		transform:translate(0, 0);
		top:6rem;
		left:10rem;
		right:10rem;
	}

	.closeModal {
		position:absolute;
		top:1rem;
		right:2rem;
		color:$danger;
		font-size:3em;
		cursor:pointer;
		transition:.3s ease;

		&:hover {
			color:$dangerHover;
		}
	}

	div {
		text-align:center;
		padding:3rem;

		> span {
			font-size:1.4em;
			margin-right:5px;
		}
	}

	img {
		width:auto;
		max-height: 45rem;
	}
}


// Gestion des images
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.img {
	position:relative;
	overflow: hidden;
	img {
		position: absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		min-height:100%;
		min-width:100%;
		max-height:150%;
		max-width:150%;
		height:auto;
		width:auto;
	}
}


.iframe_container {
	overflow:hidden;
	position:relative;
	iframe {
		border:0;
		height:100%;
		left:0;
		position:absolute;
		top:0;
		width:100%;
	}
}

// Texte
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

h2 {
	font-size:2.2em;
	color:$veryDarkGreen;
	margin-bottom:1.5rem;
	font-weight:300;
	&.title_picto {
		padding-left:3rem;
		&.picto_profil {background:url(img/picto_user_infos.png) no-repeat left center;}
		&.picto_gallery {background:url(img/picto_user_gallery.png) no-repeat left center;}
		&.picto_friends {background:url(img/picto_user_amis.png) no-repeat left center;}
		&.picto_friends_add {background:url(img/picto_user_add.png) no-repeat left center;}
		&.picto_map {background:url(img/picto_map.png) no-repeat left center;}
	}
}

///////////////////////////////////////////////////
////////////////////// LAYOUT /////////////////////
///////////////////////////////////////////////////

.wrap {
	max-width:84rem;
	margin:0 auto;
	position:relative;
}


// Template pages offline
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#offline {
	background:url(img/background_offline.jpg) no-repeat center center;
	width:100vw;
	height:100vh;
	color:$white;
	position:absolute;
	z-index:2;
	&::before {
		content:'';
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		background-color:$veryDarkGreen;
		opacity:0.6;
	}

	h1, h2 {
		font-size:3em;
		color:$white;
		font-weight:800;
		margin-bottom:2rem;
	}

	::placerholder {
		color:$white;
	}

	.btn {
		margin-top:2rem;
		letter-spacing:0.05em;
	}

	.wrap {
		display:flex;
		align-items:center;
		height:100vh;
		.offline_template {
			display:flex;
			justify-content:space-between;
			z-index:1;
			width:100%;

			p {
				font-size:1.4em;
			}

			.main_content {
				text-align:center;
				padding:0 8rem;

				p {
					text-align:left;
					margin-bottom:2rem;
				}

				form {
					.columns.left {padding-right:1rem !important;}
					.columns.right {padding-left:1rem !important;}

					.ligne_form {
						margin-bottom:2rem;
						position:relative;

						label {
							position:relative;
							display:block;
							.label {
								font-size:1.6em;
								cursor:text;
								position:absolute;
								line-height:2;
								left:0;
								bottom:0;
								transition:0.1s ease-in-out;
							}

							input:focus + .label, input:valid + .label {
								bottom:80%;
								font-size:1em;
							}

							input[type="text"], input[type="email"], input[type="password"] {
								color:$white;
								border-bottom:1px solid $brokenWhite;
								padding:0;
								width:100%;
								height:auto;
								box-shadow:none;
								font-size:1.6em;
								line-height:2;
							}
						}

						.mdp_oublie {
							color:$brokenWhite;
							font-weight:600;
							position:absolute;
							right:0;
							bottom:-2.5rem;
							font-size:1.1em;
							font-style:italic;
							letter-spacing:0.05em;
							border-bottom:1px solid transparent;
							&:hover, &:focus {
								border-color:rgba(255,255,255,0.75);
							}
						}
					}
				}
			}

			.change {
				width:33%;
				height:100%;
				display:flex;
				justify-content:center;
				align-items:center;
				flex-flow:wrap;
				text-align: center;

				&::before {
					content:'';
					position:fixed;
					opacity:0.85;
					top:0;
					right:0;
					height:100%;
					width:calc(((100vw - 84rem) / 2) + 28rem);
					background:$weirdGreen url(img/logo_filigrane.png) no-repeat center bottom;
					background-size:100% auto;
					z-index:-1;
				}

				p {
					line-height:2.4em;
				}
			}
		}


		#template_connexion {
			flex-direction:row-reverse;

			.change {
				&::before {
					left:0;
				}
			}
		}
	}
}


// Template pages online
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#online {
	background:url(img/background_online.png);
	padding-top:10rem;
	padding-bottom:2rem;
	&:after {
		content:'';
		width:81.2rem;
		height:47.9rem;
		position:absolute;
		left:50%;
		top:-15rem;
		background:url(img/background_header.png);
		transform:translateX(-50%);
		z-index:-1;
		opacity:0.1;
	}
}

.wrap .newPost {
	background:$white;

	hr {
		margin:10px 0;
	}

	> div {
		text-align:center;
	}
}

.row {
	&.online_template {
		display:grid;
		grid-gap:2rem;
		grid-template-columns:1fr 1fr;
	}

	&#template_map {
		display:flex;
	}

	&#template_profil {
		.bloc_profil {
			.profil {
				width:8rem;
				height:8rem;
				label {
					display: flex;
					flex-direction: column;
					justify-content: center;
					background: black;
					position:relative;
					cursor: pointer;
					height: 8em;
					overflow: hidden;
					&::before {
						content: 'Modifier l\'image';
						position: absolute;
						top:0;
						right:0;
						left:0;
						bottom:0;
						opacity:0;
						transition:.3s ease;
						background:black;
						display:flex;
						align-items:center;
					}
					&:hover::before {
						opacity:.7;
					}

				}
				#avatar {
					display: none;
				}
			}
		}
	}

	.bloc {
		width:100%;
		box-shadow:$boxShadowLight;

		&.border {
			padding:2rem;
			background:$white;
		}

		&.bloc_ami:not(:last-child) {
			margin-bottom:2rem;
		}

		&.bloc_ami .attente{
			padding:.5rem;
			color:white;
			background:$lightGreen;
			font-size:1.2em;
		}

		.img_publication {
			max-height:37rem;
			overflow:hidden;
			height:37rem;
			width:100%;
			line-height:0;

			div {
				height: 100%;
		    display: grid;
		    align-items: center;
		    background: #131313;
			}
		}

		.infos {
			background-color:$weirdGreen;
			padding:1rem;
			display:flex;
			flex-flow:wrap;
			color:$white;
			min-height:8rem;
			position:relative;
			z-index:1;

			.parametres {
				position: absolute;
				cursor:pointer;
				top:1rem;
				right:1rem;
				height:2rem;
				width:2rem;
				background:url(img/picto_param.png) no-repeat right center;
				box-shadow:none;
				text-indent:-9999rem;
				&.validation {
					background:url(img/picto_check.png) no-repeat right center;
				}
			}

			.profil {
				width:6rem;
				height:6rem;
				margin-right:1rem;
				box-shadow:$boxShadowDark;
				display:flex;
				align-items:center;
				background:black;
				overflow: hidden;
				a {display:block;}
				img {display:block;}
			}

			.texte {
				display:flex;
				flex-direction:column;
				flex-grow:2;

				.name {
					font-size:1.6em;
				}

				.email {
					font-size:1.3em;
					color:$gray;
				}

				.rang {
					line-height:1;
					font-size:1.3em;
					color:$veryLightGreen;
				}

				.time {
					margin-top:auto;
					font-size:1.2em;
					font-weight:300;
					font-style:italic;
					color:$gray;
				}

				.experience {
					display:flex;
					flex-flow:wrap;
					justify-content:space-between;
					color:$lightGreen;
					margin-top:auto;

					.nb_points {
						line-height:1;
						font-size:1.3em;
						font-weight:600;

						.requis {
							padding-right:2.25rem;
							background:url(img/leaf.png) no-repeat right center;
						}
					}

					.progress_bar {
						margin-top:0.5rem;
						display: inline-block;
						width:100%;
						text-indent:-9999rem;
						height:0.5rem;
						width:100%;
						display:block;
						background-color:$lightGreen;
						position:relative;
						.actuel {
							position:absolute;
							top:0;
							left:0;
							width:25%;
							height:100%;
							background-color:$veryLightGreen;
						}
					}
				}
			}

			.description {
				width:100%;
				flex:0 0 100%;
				font-size:1.3em;
				padding-top:1rem;
			}

			.delete_post {
				width:6rem;
				height:6rem;
				position:absolute;
				background:$danger;
				right:10px;
				top:10px;
				opacity: 0;
				transition: .5s ease;

				img {
					width:2rem;
					height:2rem;
					margin-top:3px;
					margin-left:1px;
				}
			}

			.like {
				background-color:$mediumGreen;
				color:$white;
				margin-left:auto;
				height:6rem;
				width:6rem;
				padding-top:3.5rem;
				position:relative;
				z-index:1;
				overflow: hidden;
				font-size:1.2em;
				transition:0.5s ease;

				&.liked {
					background-color:$veryDarkGreen;
				}

				&::before {
					content: '';
					position: absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					background:url(img/like.png) no-repeat center top 0.75rem;
				}

				&:hover {
					background-color:$veryDarkGreen;
				}
			}
		}

		&:hover {
			.delete_post {
				opacity:1;
				top:-52px;

				&:hover {
					background:$dangerHover;
				}
			}
		}
	}
}

.grid {
	display:grid;
	grid-gap:2rem;
	grid-template-rows:minmax(195px, max-content);
	grid-auto-rows:minmax(195px, max-content);
}

.gallery {
	display:grid;
	grid-gap:2rem;
	grid-template-columns:1fr 1fr;
	grid-template-rows:195px;

	.gallery_item {
		box-shadow:$boxShadowLight;
		line-height:0;
		display:grid;
		align-items:center;
		background:black;
	}
}

footer {
	display:none;
}
