// Colors
$veryDarkGreen:#162826;
$weirdGreen:#27544C;
$darkGreen:#326847;
$mediumGreen:#2b8b5b;
$lightGreen:#769f62;
$veryLightGreen:#b5eba1;
$gray:#bfbfbf;
$lightGray:#cfcfcf;
$brokenWhite:#fcfcfc;
$black:#000000;
$white:#ffffff;
$danger:#a50a0a;
$dangerHover:#c10d0d;

// CSS Mixins
$boxShadowLight:0 0 0.5rem 0 rgba(0,0,0,0.2);
$boxShadowDark:0 0 0.5rem 0 rgba(0,0,0,0.5);
