header {
	height:8rem;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	background:$white;
	box-shadow:$boxShadowLight;
	z-index:999;

	.wrap {
		display:flex;
		padding:1rem;
		justify-content:space-between;
		height:100%;
		position:relative;
		z-index:1;
		max-width:106rem;

		.header_left {
			display:flex;
			align-items:center;

			#logo {
				padding-right:5rem;
				a {
					display:block;
					line-height:0;
					width:5rem;
					height:5rem;
					transition:0.3s ease;
					img {
						max-width:100%;
						max-height:100%;
					}
				}
			}

			#search {
				position:relative;

				label {
					position:relative;
					z-index:1;
				}

				input[role="combobox"] {
					width:16rem;
					height: 3rem;
					padding-right:3.75rem;
					padding-left:1rem;
					position:relative;
					z-index:1;
					color:$darkGreen;
				}

				input[type="submit"] {
					pointer-events:none;
					position:absolute;
					top:0;
					right:0;
					height:100%;
					width:100%;
					text-indent:-9999px;
					cursor:pointer;
					background:$brokenWhite url(img/picto_loupe.png) no-repeat right 1rem center;
				}
			}
		}

		.header_right {
			display:flex;
			.picto_deconnexion {
				background-image:url(img/picto_deconnexion.png);
				cursor:pointer;
				display:inline-block;
				width:2rem;
				height:2rem;
				position: relative;
				font-size:1.2rem;
				color:$darkGreen;
				background-size:contain;
				background-repeat:no-repeat;
				background-position:center center;
				background-color:transparent;
				transition:0.1s ease;
			}
			nav {
				ul {
					display:flex;
					height:100%;
					li {
						padding:1rem 2.5rem;
						&:last-child {
							padding-right:5rem;
						}

						a:not(.notif_link), p {
							cursor:pointer;
							display:block;
							width:3rem;
							height:3rem;
							position:relative;
							font-size:1.2rem;
							color:$darkGreen;
							background-size:auto;
							background-repeat:no-repeat;
							background-position:center center;
							background-color:transparent;
							transition:0.1s ease;

							&.picto_publication {background-image:url(img/picto_publication.png);}
							&.picto_amis {background-image:url(img/picto_amis.png);}
							&.picto_map {background-image:url(img/picto_map.png);}
							&.picto_notification {
								background-image:url(img/picto_notification.png);

								.notification {
									position: absolute;
									width:1rem;
									height:1rem;
									border-radius:50%;
									top:0.25rem;
									right:0.25rem;
									background:$lightGreen;
									color:white;
									font-size:0.6em;
									text-align:center;
								}

								&.active {
									.notification {
										background:$darkGreen;
									}
								}
							}

							.intitule {
								position: absolute;
								left:50%;
								transform:translateX(-50%);
								display:block;
								transition:0.3s ease;
								bottom:-1.5rem;
							}

							&::before {
								content:'';
								width:1px;
								height:0;
								background-color:$darkGreen;
								position:absolute;
								left:50%;
								transition:0.2s ease;
								transform:translateX(-50%);
								top:-2rem;
								z-index:-2;
							}

							&:after {
								content:'';
								position:absolute;
								width:100%;
								height:calc(100% + 2rem);
								top:calc(50% + 0.75rem);
								left:50%;
								background:$white;
								transform:translate(-50%, -50%);
								z-index:-1;
							}

							&:hover::before, &:focus::before {
								height:8rem;
							}
						}

						&.notifications_container {
							position:relative;

							&:hover .notifications {
								height:10rem;
							}

							.notifications {
								transition:.3s ease;
								width:20rem;
								height:0rem;
								overflow-x:hidden;
								overflow-y:auto;
								position:absolute;
								top:7rem;
								left:50%;
								transform:translateX(-50%);
								background:$white;
								box-shadow:$boxShadowLight;

								.dismiss_notif {
									display:block;
									text-align:center;
									font-size:1.3rem;
								}

								span > a > span {
									display:block;
									padding: 3px 10px;
									position::relative;
									cursor:pointer;

									&::before {
										content:'';
										background:$veryLightGreen;
										height:100%;
										left:0;
										top:0;
										width:0;
										position:absolute;
										z-index:-1;
										transition:.5s ease;
									}

									&:hover::before {
										width:100%;
									}
								}

								hr {
									border:none;
									height:1px;
									background:$lightGray;
								}
							}
						}
					}
				}
			}

			#profil {
				align-self:center;
				position:relative;
				a.img {
					display:block;
					line-height:0;
					height:5rem;
					width:5rem;
					box-shadow:$boxShadowLight;
					margin:auto;
				}
				a.user_name {
					margin-top:3px;
					display:block;
					text-align:center;
					color:$darkGreen;
					font-size:1.2rem;
				}
				p.deconnexion {
					display:flex;
					align-items:center;
					position:absolute;
					right:0;
					max-height:0;
					overflow:hidden;
					padding:0;
					background:$white;
			    box-shadow:$boxShadowLight;
					cursor: pointer;
					span {
						margin-left:3px;
						font-size:1.2rem;
						color:$darkGreen;
					}
					&:hover {
						background:$veryLightGreen;
					}
				}
				&:hover {
					p.deconnexion {
						max-height:5rem;
						padding:.5rem;
						transition:.3s;
					}
				}
			}
		}
	}
}
